* {
    margin: 0;
    font-family: monospace;
    /* background: #1f1f1f; */
    color: #9B8E8C;
}

h1 {
    text-align: center;
    color: #9B8E8C;
    margin-bottom: 7px;
}

h4 {
    text-align: center;
    color: #9B8E8C;
    margin-bottom: 7px;
    margin-top: 6px;
}
#data {
    margin: 20;
    background-color: #1f1f1f;


}
#container {
    margin: 0;
    background-color: #1f1f1f;
    text-align: center;

}

#map {
    margin: 0;
    background-color: #1f1f1f;
    display: block;
    margin: auto;
}

#sex {
    width: 25%;
    display: block;
    margin: auto;
    background-color: black;
}

#status_text {
    margin-top: 10px;
    text-align: center;
    color: #9B8E8C;
    background: #1f1f1f;
}

#drop{
    width: 25%;
    display: block;
    margin: auto;
    text-align: center;
}
